@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
    }
    
    ::-webkit-scrollbar-thumb{
      background-color:#0E4464 ;
      border-radius: 10px;
    
    }
    body{
      overflow-x: hidden;
     }
